<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body>
<div class="container-fluid" style="background-color: #282828; padding: 10px;">
    <div class="row">
        <div class="col-md-11">
            <span style="color: white; font-family: sans-serif" th:utext="${user.getEmail()}"></span>
            <span style="color: white; font-family: sans-serif"> with roles: </span>
            <span style="color: white; font-family: sans-serif" th:utext="${user.getRolesToString()}"></span>
        </div>
        <div class="col-md-1">
            <form action="@{/logout}" method="post">
                <button class="btn btn-link" style="color: gray" type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <a href="/user" class="btn btn-link btn-primary col-md-12 text-left"
                   style="color: white; font-family: sans-serif">User</a>
            </div>
            <div class="row">
                <a href="/admin" class="btn btn-link btn-primary col-md-12 text-left"
                   style="color: white; font-family: sans-serif">Admin</a>
            </div>
        </div>
        <div class="col-md-10 ">
            <span style="color: black; font-family: sans-serif">Admin panel</span>
            <br>
            <a href="/admin" class="btn btn-link btn-primary" aria-pressed="true"
               style="color: white; font-family: sans-serif">Users Table</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#newModal">
                <span style="color: white; font-family: sans-serif">New User</span>
            </button>
            <br>
            <table class="table table-hover">
                <thead>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user :${users}">
                    <td th:utext="${user.Id}"></td>
                    <td th:utext="${user.name}"></td>
                    <td th:utext="${user.lastName}"></td>
                    <td th:utext="${user.age}"></td>
                    <td th:utext="${user.email}"></td>
                    <td th:utext="${user.getRolesToString()}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editModal">
                            <span style="color: white; font-family: sans-serif">Edit</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal">
                            <span style="color: white; font-family: sans-serif">Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-family: sans-serif; color: black">Edit user</span>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">&times;</button>
            </div>
            <div class="modal-body">
                <form action="@{/users/update}" th:object="${user}">
                    <input type="hidden" name="id" th:id="id">
                    <div class="form-group">
                        <label th:for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label th:for="name" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" name="email" id="name">
                    </div>
                    <div class="form-group">
                        <label th:for="lastName" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" name="email" id="lastName">
                    </div>
                    <div class="form-group">
                        <label th:for="age" class="col-form-label">Age</label>
                        <input type="text" class="form-control" name="age" id="agel">
                    </div>
                    <div class="form-group">
                        <label th:for="roles" class="col-form-label">Password</label>
                        <input type="text" class="form-control" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <p>Role</p>
                        <select class="form-select" name="rolesSelected" multiple>
                            <option disabled selected>Open this select menu</option>
                            <div th:each="role : ${roles}">
                                <option th:text="${role.getName()}"
                                th:value="${role.getId()}"
                                th:field="${roles}"></option>
                            </div>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Закрыть">
                    <span style="font-family: sans-serif; color: white">Close</span>
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#editModal" th:data-id="${user.id}"
                        th:data-email="${user.email}"
                        th:data-name="${user.name}"
                        th:data-lastName="${user.lastName}"
                        th:data-age="${user.age}"
                        th:data-password="${user.password}"
                        th:data-roles="${user.getRolesToString()}">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-family: sans-serif; color: black">Edit user</span>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputId" class="form-label">
                            <span style="font-family: sans-serif; color: black">
                                Id
                            </span>
                        </label>
                        <input type="Id" class="form-control" id="exampleInputId1" aria-describedby="IdHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">
                            First name
                        </label>
                        <input type="name" class="form-control" id="exampleInputName1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLastName" class="form-label">
                            Last name
                        </label>
                        <input type="lastName" class="form-control" id="exampleInputLastName1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputAge" class="form-label">
                            Age
                        </label>
                        <input type="age" class="form-control" id="exampleInputAge1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">
                            Email
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div>
                        <span style="color: black; font-family: sans-serif">Role</span>
                        <select class="form-select" aria-label="Пример выбора по умолчанию">
                            <option selected></option>
                            <option value="1">ADMIN</option>
                            <option value="2">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Закрыть">
                    <span style="font-family: sans-serif; color: white">Close</span>
                </button>
                <button type="submit" class="btn btn-danger">
                    <span style="font-family: sans-serif; color: white">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-family: sans-serif; color: black">Edit user</span>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputId" class="form-label">
                            <span style="font-family: sans-serif; color: black">
                                Id
                            </span>
                        </label>
                        <input type="Id" class="form-control" id="exampleInputId1" aria-describedby="IdHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">
                            First name
                        </label>
                        <input type="name" class="form-control" id="exampleInputName1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLastName" class="form-label">
                            Last name
                        </label>
                        <input type="lastName" class="form-control" id="exampleInputLastName1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputAge" class="form-label">
                            Age
                        </label>
                        <input type="age" class="form-control" id="exampleInputAge1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">
                            Email
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div>
                        <span style="color: black; font-family: sans-serif">Role</span>
                        <select class="form-select" aria-label="Пример выбора по умолчанию">
                            <option selected></option>
                            <option value="1">ADMIN</option>
                            <option value="2">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">
                    <span style="color: white; font-family: sans-serif">Add new user</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#editUserModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const userId = button.data(id)
        const email = button.data(email)
        const userFirstname = button.data('firstname')
        const userLastName = button.data('lastName')
        const userAge = button.data('age')
        const userPassword = button.data('password')
        const modal = $(this)
        modal.find('.modal-title').text('Delete user' + email)
        modal.find('#id').val(userId)
        modal.find('#email').val(email)
        modal.find('#firstName').val(userFirstname)
        modal.find('#lastName').val(userLastName)
        modal.find('#age').val(userAge)
        modal.find('#password').val(userPassword)
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</html>