<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body>
<div class="container-fluid" style="background-color: #282828; padding: 10px;">
    <div class="row">
        <div class="col-md-11">
            <span style="color: white; font-family: sans-serif" th:utext="${activeUser.getEmail()}"></span>
            <span style="color: white; font-family: sans-serif"> with roles: </span>
            <span style="color: white; font-family: sans-serif" th:utext="${activeUser.getRolesToString()}"></span>
        </div>
        <div class="col-md-1">
            <form action="@{/logout}" method="post">
                <button class="btn btn-link" style="color: gray" type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <a href="/user" class="btn btn-link btn-primary col-md-12 text-left"
                   style="color: white; font-family: sans-serif">User</a>
            </div>
            <div class="row">
                <a href="/admin" class="btn btn-link btn-primary col-md-12 text-left"
                   style="color: white; font-family: sans-serif">Admin</a>
            </div>
        </div>
        <div class="col-md-10 ">
            <span style="color: black; font-family: sans-serif">Admin panel</span>
            <br>
            <a href="/admin" class="btn btn-link btn-primary" aria-pressed="true"
               style="color: white; font-family: sans-serif">Users Table</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#newModal">
                <span style="color: white; font-family: sans-serif">New User</span>
            </button>
            <br>
            <table class="table table-hover">
                <thead>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, state : ${users}" th:classappend="${state.odd}">
                    <td th:utext="${user.Id}"></td>
                    <td th:utext="${user.name}"></td>
                    <td th:utext="${user.lastName}"></td>
                    <td th:utext="${user.age}"></td>
                    <td th:utext="${user.email}"></td>
                    <td th:utext="${user.getRolesToString()}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                th:data-bs-target="'#updateModal' + ${user.id}">
                            <span style="color: white; font-family: sans-serif">Edit</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                th:data-bs-target="'#deleteModal' + ${user.id}">
                            <span style="color: white; font-family: sans-serif">Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'updateModal' + ${user.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:each="user, state : ${users}" th:classappend="${state.odd}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-family: sans-serif; color: black">Edit user</span>
            </div>
            <div class="modal-body">
                <form th:action="@{/users/update}" th:id="'updateFormId' + ${user.id}" method="patch">
                    <input type="text" readonly="readonly" name="oldUserId" th:value="*{user.id}" class="form-control">
                    <div class="form-group">
                        <label th:for="email" class="col-form-label">Email</label>
                        <input type="text" th:value="*{user.email}" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label th:for="name" class="col-form-label">First Name</label>
                        <input type="text" th:value="${user.name}" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label th:for="lastName" class="col-form-label">Last name</label>
                        <input type="text" th:value="${user.lastName}" class="form-control" name="lastName">
                    </div>
                    <div class="form-group">
                        <label th:for="age" class="col-form-label">Age</label>
                        <input type="text" th:value="${user.age}" class="form-control" name="age">
                    </div>
                    <div class="form-group">
                        <label th:for="password" class="col-form-label">Password</label>
                        <input type="text" th:value="${user.password}" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <p>Role</p>
                        <select class="form-select" name="roles" multiple>
                            <option disabled selected>Open this select menu</option>
                            <div th:each="role : ${roles}">
                                <option th:text="${role.getName()}"
                                        th:value="${role.getId()}"
                                        th:field="${roles}"></option>
                            </div>
                        </select>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" th:form="'updateFormId' + ${user.id}" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'deleteModal' + ${user.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:each="user, state : ${users}" th:classappend="${state.odd}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-family: sans-serif; color: black">Edit user</span>
            </div>
            <div class="modal-body">
                <form th:action="@{/users/delete}" th:id="'deleteUserFormId' + ${user.id}" th:method="delete">
                    <input type="text" readonly="readonly" name="oldUserId" th:value="*{user.id}" class="form-control">
                    <div class="form-group">
                        <label th:for="email" class="col-form-label">Email</label>
                        <input type="text" readonly="readonly" th:value="*{user.email}" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label th:for="name" class="col-form-label">First Name</label>
                        <input type="text" readonly="readonly"  th:value="${user.name}" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label th:for="lastName" class="col-form-label">Last name</label>
                        <input type="text" readonly="readonly"  th:value="${user.lastName}" class="form-control" name="lastName">
                    </div>
                    <div class="form-group">
                        <label th:for="age" class="col-form-label">Age</label>
                        <input type="text" readonly="readonly"  th:value="${user.age}" class="form-control" name="age">
                    </div>
                    <div class="form-group">
                        <label th:for="password" class="col-form-label">Password</label>
                        <input type="text" readonly="readonly"  th:value="${user.password}" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <span th:text="${user.getRolesToString()}"></span>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" th:form="'deleteUserFormId' + ${user.id}" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span style="font-family: sans-serif; color: black">New user</span>
            </div>
            <div class="modal-body">
                <form th:action="@{/users/add}" id="newUserFormId" th:method="post">
                    <div class="form-group">
                        <label th:for="email" class="col-form-label">Email</label>
                        <input type="text" th:value="*{user.email}" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label th:for="name" class="col-form-label">First Name</label>
                        <input type="text" th:value="${user.name}" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label th:for="lastName" class="col-form-label">Last name</label>
                        <input type="text" th:value="${user.lastName}" class="form-control" name="lastName">
                    </div>
                    <div class="form-group">
                        <label th:for="age" class="col-form-label">Age</label>
                        <input type="text" th:value="${user.age}" class="form-control" name="age">
                    </div>
                    <div class="form-group">
                        <label th:for="password" class="col-form-label">Password</label>
                        <input type="text" th:value="${user.password}" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <p>Role</p>
                        <select class="form-select" name="roles" multiple>
                            <option disabled selected>Open this select menu</option>
                            <div th:each="role : ${roles}">
                                <option th:text="${role.getName()}"
                                        th:value="${role.getId()}"
                                        th:field="${roles}"></option>
                            </div>
                        </select>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="newUserFormId" class="btn btn-success">Add new user</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</html>