<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Информация обо мне</title>
</head>

<body>
<table border="2">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Username</th>
  </tr>

  </thead>
  <tbody>
  <tr>
    <td th:utext="${user.getId()}">id</td>
    <td th:utext="${user.getName()}">Name</td>
    <td th:utext="${user.getLastName()}">LastName</td>
    <td th:utext="${user.getUsername()}">Username</td>
  </tr>
  </tbody>
</table>

</body>
</html>